<h2>Carrinho</h2>
<table class="table table-hover ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Valor</th>
      <th scope="col">ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of carrinho">
      <td>{{ item.produto.nome }}</td>
      <td>R$ {{ item.produto.preco }}.00</td>
      <td>
         <a (click)="excluirItem(item.index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>      
    </tr>
  </tbody>
</table>

 
