<div class="mb-5 row">
    <div class="col-md-4 mt-2" *ngFor="let produto of produto">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn4.iconfinder.com/data/icons/iphone-8-concept/512/iphone_8_Blush_Gold-512.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><b>Modelo:</b> {{produto.nome}}</h5>
                <p class="card-text">{{produto.descricao}}</p>
                <h4 class="card-text">
                    <b>R$ {{produto.preco}}.00</b>
                </h4>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>
    </div>
</div>