<h2>Produtos</h2>
<table class="table table-hover ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Marca</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">Ação</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <th scope="row">{{ produto.id }}</th>
      <td>{{ produto.nome }}</td>
      <td>{{ produto.marca }}</td>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.preco }}</td>
      <td>
        
        <!-- <a class="btn btn-default" [routerLink]="['/category/form/', category.id]">
          <i class="fa fa-pencil"></i>
         </a>
         <a (click)="delete(category.id, i)"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td> -->
      
    </tr>
  </tbody>
  <a href="produto/form"><button class="btn btn-primary" type="submit" >Add Novo</button></a>
</table>